@model QuestionsAndAnswers.Models.user_post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>user_post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_id)
            @Html.ValidationMessageFor(model => model.user_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parent_post_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parent_post_id)
            @Html.ValidationMessageFor(model => model.parent_post_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ranking_points)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ranking_points)
            @Html.ValidationMessageFor(model => model.ranking_points)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.num_views)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.num_views)
            @Html.ValidationMessageFor(model => model.num_views)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.is_accepted_answer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.is_accepted_answer)
            @Html.ValidationMessageFor(model => model.is_accepted_answer)
        </div>
<!--
        <div class="editor-label">
            @Html.LabelFor(model => model.created_at)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.created_at)
            @Html.ValidationMessageFor(model => model.created_at)
        </div>
-->
        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    <a href="#" onclick="goBack()">Back</a>
</div>
