@model QuestionsAndAnswers.Models.UserPostViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend> Edit the post </legend>

        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.user_id)
        @Html.HiddenFor(model => model.parent_post_id)
        @Html.HiddenFor(model => model.num_views)

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.is_accepted_answer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.is_accepted_answer)
            @Html.ValidationMessageFor(model => model.is_accepted_answer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ranking_points)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ranking_points)
            @Html.ValidationMessageFor(model => model.ranking_points)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created_at)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.created_at)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="#" onclick="goBack()">Back</a>
</div>
